<div  class='dashboard-content'>
    <div  class='container'>
    
      
      <h3 style=" text-align:center ;background-color:DodgerBlue; padding:2px; ">ADD STAFF</h3>
      <br>
     
    
      <form action="/staff/save" method="POST">
      
      <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="stuff_name">
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Id Code</label>
           <div class="col-sm-9">
          <input type="text" class="form-control" name="stuff_id_code">
        </div>
      </div>
      </div>
    </div>
    
      <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Father name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="father_name">
        </div>
      </div>  
      </div>
      <div class="col">
       
        <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Mother Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="mother_name">
        </div>
      </div>
      </div>
    </div>
    
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Phone</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="phone">
        </div>
      </div>  
      </div>
      <div class="col">
       
        <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" name="email">
        </div>
      </div>
      </div>
    </div>
    
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >NID number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="nid">
        </div>
      </div>  
      </div>
      <div class="col">
       
        <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Birth Date</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" name="dob">
        </div>
      </div>
      </div>
    </div>
      <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Gender</label>
        <div class="col-sm-9">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gender">
      <option selected>select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Join Date</label>
           <div class="col-sm-9">
          
          <input type="date"  name="join_date">
          
        </div>
      </div>
      </div>
    </div>
      <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Department</label>
        <div class="col-sm-9">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>select</option>
      <option value="sales repesentative">Sales Representative</option>
      <option value="distributor">Distributor</option>
      <option value="other">Other</option>
    </select>
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Designation</label>
           <div class="col-sm-9">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>select</option>
      <option value="area manager">Area Manager</option>
      <option value="sales man">Sales Man</option>
      <option value="other">Other</option>
    </select>
        </div>
      </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Education</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="education">
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Relagion</label>
           <div class="col-sm-9">
         <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>select</option>
      <option value="islam">Islam</option>
      <option value="hindu">Hindu</option>
      <option value="bodddo">Boddo</option>
    </select>
        </div>
      </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Present Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="present_addr">
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Permanent Addr</label>
           <div class="col-sm-9">
          <input type="text" class="form-control" name="parmanent_addr">
        </div>
      </div>
      </div>
    </div>
    
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  > Picture </label>
        <div class="col-sm-9">
         <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" name="picture_add">
      
    </div>
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  ></label>
           <div class="col-sm-9">
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button">Refress</button>
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
        </div>
      </div>
      </div>
    </div>
    
    
    </form>
    
    
      
      
      
      
      
      </div>
      
    </div>
    
    