
<div class='dashboard'>
    <div class="dashboard-nav">
      <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
              <a href="#" class="brand-logo"><i class="fa-solid fa-truck-medical"></i> <span>Warehouse</span></a>
              
      </header>
      <nav class="dashboard-nav-list">
      <a  routerLink="home" class="dashboard-nav-item active"><i class="fas fa-home"></i>Dashboard </a>
      
        
         
      
        <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fa-solid fa-notes-medical"></i>Transection </a>
          <div class='dashboard-nav-dropdown-menu'>
          <a href="/main_stock/show/" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle-plus me-2"></i>Stock Report </a>
           <a href="#" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle-plus me-2"></i>Receiving </a>
            <a href="#" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-circle-plus me-2"></i>Sales</a>
            <a href="#" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-circle-plus me-2"></i>Return Entry</a>
             <a href="#" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle-plus me-2"></i>Receiving List </a>
           <a href="#" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle-plus me-2"></i>Sales List </a>
            <a href="#" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-circle-plus me-2"></i>Return List</a>

      
          
          </div>
        </div>
         <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-photo-video"></i> Products List </a>
          <div class='dashboard-nav-dropdown-menu'>
          <a href="/product/show/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list me-2"></i>Product List</a>
          <a href="/category/show/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list me-2"></i>Category List</a>
          <a href="/subcategory/show/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list me-2"></i>Sub Category List</a>
          <a href="/brand/show/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list me-2"></i>Brand List</a>
          </div>
        </div>
        
        
        
         <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-users"></i> Sales Report </a>
          <div class='dashboard-nav-dropdown-menu'>
          <a href="#" class="dashboard-nav-dropdown-item">Daily Sales</a>
          <a href="#" class="dashboard-nav-dropdown-item">Clint Wise</a>
          <a href="#" class="dashboard-nav-dropdown-item">Product Wise</a>
          </div>
        </div>
        
      
          <a href="#" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Due Report</a>
       
       
      
        
          <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-user"></i>CRM </a>
          <div class='dashboard-nav-dropdown-menu'>
       <a routerLink="/ad-home/./ad-customer" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-user-plus"></i> Add Customer</a>
     
          <a href="/admin/supplier/create/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-user-plus"></i>Add Distributor</a>
          <a  routerLink="ad-staff" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-user-plus"></i> Add Stuff</a>
               <a href="/clint/show/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list"></i>Customer list</a>
          <a href="/admin/supplier/create/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list"></i>Supplier List</a>
           <a href="/admin/supplier/create/" class="dashboard-nav-dropdown-item"> <i class="fa-solid fa-list"></i>Supplier List</a>
       
      
          
          </div>
        </div>
        
        <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>
  
        <div class="nav-item-divider"></div>
        <a href="/" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
      </nav>
    </div>
    <div class='dashboard-app'>
      <header class='dashboard-toolbar'><a   class="menu-toggle"><i class="fas fa-bars"></i> </a>  
      </header>
  
  
  
      <router-outlet></router-outlet> 
  
  
  
    </div>
</div>


