<div  class='dashboard-content'>
    
    <div  class='container'>
    <div  *ngIf="createform">
      <h2 style="text-align:center ;background-color:DodgerBlue; padding:2px;">Add Supplier</h2><br>
      
      <form [formGroup]="addForm">
      
      <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  > Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="supplier_name">
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Zip Code</label>
           <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="zip_code">
        </div>
      </div>
      </div>
    </div>
    
     
    
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Phone</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="phone">
        </div>
      </div>  
      </div>
      <div class="col">
       
        <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-control-sm" formControlName="email">
        </div>
      </div>
      </div>
    </div>
    
    
     
      
    
    <div class="row g-3">
      <div class="col">
      
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"  >Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="address">
        </div>
      </div>
    
      </div>
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  >Bank Account</label>
           <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="bank_account">
        </div>
      </div>
      </div>
    </div>
    
    <div class="row g-3">
      <div class="col">
      
      
    
      </div>
      
       <div class="col">
         <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"  ></label>
           <div class="col-sm-9">
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- <a href="/admin/supplier/create/"> <button class="btn btn-primary me-md-2" type="button">Refress</button></a> -->
      <button class="btn btn-success"  (click)="addProduct()" *ngIf="btnvisibility"  >Save</button>  
    <button class="btn btn-primary"  (click)="updatePro()" *ngIf="!btnvisibility" >Update</button>  
    </div>
    
        </div>
      </div>
      </div>
    </div>
    
    
    </form>
  </div>
    </div>

<br><br>

    <div Class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary "  (click)="show()"><i class="fa-solid fa-user-plus "></i> Add</button>
    </div>
      <div class="col-md-12">  
        <h3 style="text-align:center ;background-color:rgb(100, 160, 220); padding:2px;">Supplier List</h3><br> 
        <div class="table-responsive">  
          <table class="table table-sm">  
            <thead>  
              <tr>  
                <th>Id</th>  
                <th>Supplier Name</th>  
                <th>Suplier code</th>  
                <th>Phone</th>  
                <th>Email</th>  
                <th>Address</th>
                <th>BankAccount</th>
                <th>Action</th>  
                <th>Action</th>  
              </tr>  
            </thead>  
            <tbody> 
              <tr *ngFor="let p of products" >
              <td>{{p.id}}</td>
              <td>{{p.supplier_name}}</td>
              <td>{{p.zip_code}}</td>
              <td>{{p.phone}}</td>
              <td>{{p.email}}</td>
               <td>{{p.address}}</td>
                <td>{{p.bank_account}}</td>
             <td> <button class="btn btn-info" (click)="editEmp(p)" >Edit</button></td> 
              <td> <button class="btn btn-danger" (click)="delProduct(p)">Delete</button></td> 
      
             </tr>
            </tbody>  
          </table>  
        </div>  
      </div>  
      </div>








</div>