

        <div style="background-color: white;">
            <div  class='container' >
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              
              <a href="/product/show/"><button class="btn btn-primary" type="button">  <i class="fa-solid fa-list me-2"></i> </button></a>
            </div> 
            
            <div class="container " >
            <br>
              <div class="row">
              
                <!-- First Grid start --> 
                <div class="col">
                
               
              <h3 style=" text-align:center;">ADD PRODUCT</h3>
           
                  
               <br> 
               <div class="container " >
              <form >
              
              <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  > Product Name</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="product_name">
                </div>
              </div>
              </div>
              </div>
              
              
               <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Code</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="product_code">
                </div>
              </div>
              </div>
              </div>
              
                 <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Unit</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="unite">
                </div>
              </div>
              </div>
              </div>
              
               <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Brand</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="product_brand">
                </div>
              </div>
              </div>
              </div>
              
            
              
                 <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Warehouse Rate</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="warehouse_rate" value="0">
                </div>
              </div>
              </div>
              </div>
               <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Distributor Rate</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="distributor_rate" value="0">
                </div>
              </div>
              </div>
              </div>
              
                <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >Retail Rate</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="retail_rate" value="0">
                </div>
              </div>
              </div>
              </div>
              
                <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  >MRP</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="mrp" value="0">
                </div>
              </div>
              </div>
              </div>
             
               <div class="row g-3">
              <div class="col">
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"  ></label>
                <div class="col-sm-9">
                   <input type="text" class="form-control form-control-sm"  name="quantity" value="0" >
                </div>
              </div>
              </div>
              </div>
               
             
             
               
             
             
              <button type="submit" class="btn btn-primary">Submit</button> 
            </form>
            <br><br>
            
               </div>   
                  
             
                  
                  
                </div>
                <!-- First Grid end -->  
                
                <!-- 2 nd grid start -->
                <div class="col">
                <h4 style="text-align:center;">Additional Units</h4>
                <div class="row g-3">
                <span><b>Main Stock</b></span>
              <div class="col-sm-4">
              <p style="background-color: red;">Red Alert</p>
                <input type="text" class="form-control" >
              </div>
              <div class="col-sm-4">
                 <p style="background-color: yellow;">Yellow Alert</p>
                <input type="text" class="form-control" >
              </div>
              <div class="col-sm-4">
              <p style="background-color: lightgreen;">Green Alert</p>
                <input type="text" class="form-control" >
              </div>
            </div><br>
            
            <div class="row g-3">
                <span><b>Warehouse Stock</b></span>
              <div class="col-sm-4">
              <p style="background-color: red;">Red Alert</p>
                <input type="text" class="form-control">
              </div>
              <div class="col-sm-4">
                 <p style="background-color: yellow;">Yellow Alert</p>
                <input type="text" class="form-control" >
              </div>
              <div class="col-sm-4">
              <p style="background-color: lightgreen;">Green Alert</p>
                <input type="text" class="form-control" >
              </div>
            </div><br>
            
            <div class="row g-3">
                <span><b>Distributor Stock</b></span>
              <div class="col-sm-4">
              <p style="background-color: red;">Red Alert</p>
                <input type="text" class="form-control" >
              </div>
              <div class="col-sm-4">
                 <p style="background-color: yellow;">Yellow Alert</p>
                <input type="text" class="form-control" >
              </div>
              <div class="col-sm-4">
              <p style="background-color: lightgreen;">Green Alert</p>
                <input type="text" class="form-control" >
              </div>
            </div><br>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Save</button>
              
            </div>
                      
              </div>
            </div>
            
            
            
            </div>
            </div>
            
            </div>
            
