 
 <div class="container" >
<div class="customer">  
<form>  
  
    <h2 style="text-align: center;"> Customer Registeration Form</h2> 
  <hr>  
  <label> Name </label>   
<input type="text" name="firstname" placeholder= "Firstname" size="15" required />   
 
<div>  
 <label>   
Area :  
</label>   
  
<select>  
<option value="Course">select</option>  
<option value="dhaka">Dhaka</option>  
<option value="narayanganj">Narayangang</option>
<option value="gazipur">Gazipur</option>

</select>  
</div>   
<div>  
<label>   
Gender :  
</label><br>  
<input type="radio" value="Male" name="gender" checked > Male   
<input type="radio" value="Female" name="gender"> Female   
<input type="radio" value="Other" name="gender"> Other  
  
</div>  
<label>   
Phone :  
</label>  
  
<input type="text" name="phone" placeholder="phone no." size="10" required/>   
 
 <label for="email"><b>Email</b></label>  
 <input type="text" placeholder="Enter Email" name="email" required>  

 Current Address :  
<textarea cols="80" rows="5" placeholder="Current Address" value="address" required>  
</textarea> 
  
    <button type="submit" class="registerbtn">Register</button>    
</form>  
</div>  
</div>